html,
body {
  margin: 0;
  padding: 0;
  font-family: "Exo 2", sans-serif;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
a {
  text-decoration: none;
}
.my-watchlist {
  color: aliceblue;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.842), rgba(2, 2, 2, 0.603)),
    url("./images/header.jpg");
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  color: #ffffff;
  position: relative;
}
.search-box {
  height: 40px;
  background-color: rgb(7, 38, 66);
  border-radius: 10px;
  position: absolute;
  left: 250px;
  top: 180px;
  background-color: #ffffff;
  border: 1px solid rgb(209, 206, 206);
  display: flex;
  align-items: center;
  box-shadow: 2px 2px 6px gray;
}
.search-icon {
  margin-left: 10px;
  padding: 5px;
}
.search-input {
  border: none;
  width: 650px;
  padding: 5px;
  font-weight: 800;

}
.search-input:hover {
  outline: none;
}
.submit-btn {
  border: none;
  margin-right: 0px;
  cursor: pointer;
  height: 40px;
  border-radius: 0px 10px 10px 0px;
  width: 200px;
  background-color: #e7ebf0;
  font-weight: 800;

}
.submit-btn:hover {
  background-color: #1e2022;
  color:#ffffff;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 40px auto;
}
.no-data, .no-movie {
  padding: 100px;
  margin: 0 auto;
}
.no-data{
    width:200px;
    margin: 0 auto;
}
.movie-container{
    width:90%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}
.movie-card{
    display: flex;
    border-bottom: 1px solid gray;
}
.movie-content{
    display: flex;
    flex-direction: column;
    
}

.movie-image{
    padding:10px;
    width:120px;
    height: 160px;
}

.movie-info{
    display: flex;
    align-items: center;
}
.star-icon{
    width:20px;
    height: 20px;
}
.star-icon,.genre{

    margin-left: 20px;
    margin-right: 20px;
}

.add-watchlist{
    margin-left: 5px;

}
.movie-text{
    color:#6B7280;
    font-weight: 500;
}

.add-watchlist-icon{
    cursor: pointer;
}