html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav{
    background-color: rgb(31, 41, 55);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    gap:5px;
}

#colors{
    width:9rem;
    padding: 10px;
}

#get-color{
    width:9rem;
    padding: 10px;
    background-color: #3D4B60;
    border: none;
    color:aliceblue;
}

@media (min-width:767px){
    #colors{
        width:900px;
        padding: 10px;
    }
    nav{
        background-color: rgb(31, 41, 55);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        gap:5px;
    }
}