@import url("https://fonts.googleapis.com/css2?family=GFS+Didot&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "GFS Didot", serif;
}
body {
  background: #355c7d; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #c06c84,
    #6c5b7b,
    #355c7d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #c06c84,
    #6c5b7b,
    #355c7d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.profile-card{
    width: 600px;
    height: 200px;
    margin: 200px auto;
    display: flex;
    flex-direction: column;
    background-color: #18171659;
    color:#ffffff;
    font-weight: 500;
    box-shadow: 0 4px 8px 0 rgba(14, 14, 14, 0.904), 0 6px 20px 0 rgba(0, 0, 0, 0.973);
}